div{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

form{
    height: 50%;
    width: 30%;
    padding: 2%;
    background-color: antiquewhite;
}
form h1{
    margin-bottom: 20px;
}

form button{
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}